@import url('https://fonts.cdnfonts.com/css/coolvetica-2');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*---------------------- NAVBAR ------------------------*/

.logo{
    width: 220px;
    height: 50px;
    border-radius: 20px;
  }
  .navbar{
    background: #000080 ;
    top: 0;
    animation: slide-down 2000ms;
  }
  .nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color:#FFD700;
    font-size: 17px;
  }
  .a{
    color:#FF007F;
  }
  .nav-link:hover{
    color:#FF007F
  }
  .btn1{
    height: 40px;
    width: 100px;
    border: #FFD700 3px solid;
    background: rgb(0, 0, 128);
    border-radius: 20px;
    color: #FFD700;  
    font-weight:600;
    text-decoration: none;
    text-align: auto;
    padding-top: 5px;
  }
  .btn1:hover{
    color: #FFD700;
    background: #FF007F;
    text-decoration: none;
  }
  .dropdown-menu{
    background-color: #000080;
    border: 2px solid #FF007F;
  }
  .dropdown-item{
    color: #FFD700;
    font-family: "Poppins", sans-serif;
  }
/*---------------------- NAVBAR -------------------------*/

.head{
    margin-top: 100px;
    font-family: 'Coolvetica', sans-serif;
      letter-spacing: 10px;
      color: #000080;
      padding-bottom: 2px;
      background-color: #FFD700;
      text-align: center;
  }
  .ann{
    background-color: #000080;
    padding: 20px;
    margin: 20px;
    color: #FFD700;
  }
  .ann p{
    background-color: #FFD700;
    border-radius: 20px;
    color: #000080;
    padding: 30px;
    font-weight: 600;
  }
  .live{
    background-color: #000080;
    color: #FFD700;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
  }
  .live h2{
    background-color: #FFD700;
    color: #000080;
    padding: 10px;
    font-weight: 600;
    border-radius: 20px;
  }
  .live video{
    border-radius: 20px;
    border: 3px solid #FF007F;
    margin: 20px;
  }

